{{ $headless := false }}
{{ $hostname := .chezmoi.hostname }}
{{ $transient := false }}
{{ $node := true }}
{{ $python := true }}
{{ $ruby := promptBool "ruby" }}
{{ $work := false }}
{{ $editor := "code" }}
{{ $beets := false }}
{{ $ffmpeg := false }}

{{- if eq .chezmoi.hostname "x86" -}}
  {{ $work = true }}
{{- end -}}

{{- if not $work -}}
  {{ $beets = promptBool "beets" }}
  {{ $ffmpeg = promptBool "ffmpeg" }}
{{- end -}}

[data]
  headless = {{ $headless }}
  hostname = {{ $hostname | quote }}
  transient = {{ $transient }}
  work = {{ $work }}
  editor = {{ $editor | quote }}
[data.languages]
  python = {{ $python }}
  ruby = {{ $ruby }}
  node = {{ $node }}
[data.misc]
  beets = {{ $beets }}
  ffmpeg = {{ $ffmpeg }}