# disable global zsh config; we'll handle it ourselves
unsetopt GLOBAL_RCS

# TODO: make this more generic – how to fix the 0:A:h for this dir?
source "$HOME/.config/env"

export ZDOTDIR="$XDG_CONFIG_HOME/zsh"
export ZINITDIR="$ZDOTDIR/zinit"
export ZSH_CACHE="$XDG_CACHE_HOME/zsh"

export LDFLAGS="-L/usr/local/opt/zlib/lib"
export CPPFLAGS="-I/usr/local/opt/zlib/include"

# export FZF_DEFAULT_COMMAND="rg --glob --files --ignore-file \"${DOTFILES}/shell/ag/dot.ignore\""

typeset -gU cdpath fpath mailpath path

{{ if .work }}
path=( $XDG_BIN_HOME $DOTFILES/bin /usr/local/bin /opt/brew/bin /usr/sbin /usr/bin /sbin /bin )
{{ else }}
path=( $XDG_BIN_HOME $DOTFILES/bin /usr/local/bin /usr/sbin /usr/bin /sbin /bin )
{{ end }}
fpath=( $ZDOTDIR/functions $XDG_BIN_HOME $fpath )

export LANG=${LANG:-en_US.UTF-8}
export PAGER=less
export LESSHISTFILE="$XDG_DATA_HOME/lesshst"
