#!/usr/bin/env zsh

{{ if eq .editor "code" }}
extensions=(
    asvetliakov.vscode-neovim
    EditorConfig.EditorConfig
    foxundermoon.shell-format
    golang.go
    ms-python.python
    vscode-icons-team.vscode-icons
)

for extension in ${extensions[@]}; do
    code --force --install-extension $extension
done

{{ end }}