{{ if ne .chezmoi.os "windows" -}}
#!/usr/bin/env zsh

source "$HOME/.config/dotfiles/env"

{{- if eq .chezmoi.os "darwin" }}
brew bundle install --file="$DOTFILES/darwin/Brewfile"

directories=(
  "$HOME/Projects"
  "$HOME/Sandbox"
)

for i in $directories[@]; do
  if [[ ! -d "$i" ]]; then
    mkdir -p "$i"
  fi
done
{{- end }}

{{- if eq .pwm "1p" }}
eval $(op signin my.1password.com niklas@nothstine.io)
{{- end }}

{{- if .languages.python }}
PYENV_ROOT="$XDG_DATA_HOME/pyenv"
__ensure_repo momo-lab/xxenv-latest $PYENV_ROOT/plugins/xxenv-latest
[[ ! -d $PYENV_ROOT ]] && {
  pyenv latest install && pyenv latest global
}
{{- end }}

{{- if .languages.node }}
NODENV_ROOT="$XDG_DATA_HOME/nodenv"
__ensure_repo momo-lab/xxenv-latest $NODENV_ROOT/plugins/xxenv-latest
[[ ! -d $NODENV_ROOT ]] && {
  nodenv latest install && nodenv latest global
}
{{- end }}

{{- if .languages.ruby }}
RBENV_ROOT="$XDG_DATA_HOME/rbenv"
__ensure_repo momo-lab/xxenv-latest $RBENV_ROOT/plugins/xxenv-latest
[[ ! -d $RBENV_ROOT ]] && {
  rbenv latest install && rbenv latest global
}
{{- end }}

{{- if eq .term "iterm" }}
defaults write com.googlecode.iterm2.plist PrefsCustomFolder -string "$XDG_CONFIG_HOME/dotfiles/iterm"
defaults write com.googlecode.iterm2.plist LoadPrefsFromCustomFolder -bool true
{{- end }}
{{- end}}
