#!/usr/bin/env zsh

source "$DOTFILES/env"

{{- if .languages.python }}
brew install pyenv pipenv pyenv-virtualenv
__ensure_repo momo-lab/xxenv-latest $PYENV_ROOT/plugins/xxenv-latest
pyenv latest install && pyenv latest global
{{- end -}}

{{- if .languages.node }}
brew install nodenv
__ensure_repo momo-lab/xxenv-latest $NODENV_ROOT/plugins/xxenv-latest
nodenv latest install && nodenv latest global
{{- end -}}

{{- if .languages.ruby }}
brew install rbenv
__ensure_repo momo-lab/xxenv-latest $RBENV_ROOT/plugins/xxenv-latest
rbenv latest install && rbenv latest global
{{- end -}}

{{- if .misc.beets -}}
pip install beets
{{- end -}}

{{- if .misc.ffmpeg -}}
brew tap homebrew-ffmpeg/homebrew-ffmpeg
brew install homebrew-ffmpeg/ffmpeg/ffmpeg --with-fdk-aac --with-chromaprint
{{- end -}}