{{ if (and (eq .editor "nvim") .languages.python) }}
#!/usr/bin/env zsh

pyenv virtualenv $py3v neovim3 \
    && pyenv activate neovim3 \
    && python -m pip install --upgrade pip \
    && python -m pip install pynvim \
    && pyenv deactivate
pip install --upgrade -r ./requirements.txt
{{- end }}