autoload -U zmv

alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'

alias ln="${aliases[ln]:-ln} -v" # verbose ln
alias l='ls -1'
alias ll='ls -l'
alias la='LC_COLLATE=C ls -la'

# notify me before clobbering files
alias rm='rm -i'
alias cp='cp -i'
alias mv='mv -i'

alias mkdir='mkdir -p'
alias wget='wget -c' # Resume dl if possible

# Always enable colored `grep` output
# Note: `GREP_OPTIONS="--color=auto"` is deprecated, hence the alias usage.
alias grep='grep --color=auto'

alias ag="ag -p $XDG_CONFIG_HOME/ag/agignore"
alias rg='rg'

alias curl="curl --config '${DOTFILES}/shell/curl/curlrc'"

alias cdd="cd $XDG_DATA_HOME/chezmoi"
alias dp="chezmoi apply"

alias e="$EDITOR"
# alias eal="e $DOTFILES/shell/zsh/aliases.zsh"

alias sshkeygen="ssh-keygen -t rsa -b 4096 -C"

# sudo ops
alias mine='sudo chown -R "$USER"'
alias root='sudo -s'
alias se='sudo -e'

alias resrc=". ${DOTFILES}/shell/zsh/.zshrc"

alias t="tree -a --noreport --dirsfirst -I '.git|node_modules|bower_components|.DS_Store'"

alias tmux='tmux -f "$XDG_CONFIG_HOME/tmux/tmux.conf"'
alias ta='tmux attach'
alias tks='tmux kill-server'

alias ydl-aac='youtube-dl --extract-audio --audio-format aac'
alias ydl-m4a='youtube-dl --extract-audio --audio-format m4a'

zman() {
  PAGER="less -g -s '+/^       "$1"'" man zshall
}

{{- if .languages.python }}
alias py=python
__nan_has python3 && alias py3=python3

alias pir="pip install -r requirements.txt"
{{- end -}}

{{- if .languages.node }}
alias n='npm'
alias ni='n install'
alias nig='ni --global'
alias nu='n uninstall'
{{ end -}}

{{- if eq .chezmoi.os "darwin" -}}
# alias ls="gls --color=auto --group-directories-first -N"
# macOS-specific; GNU ls doesn't support ACLs and macOS doesn't have getfacl
alias ls="ls -G"
alias le="ls -ale@"
alias la="ls -Al"
alias date=gdate

alias y=pbcopy
alias p=pbpaste

alias b=brew
alias bi='b install'
alias bu='b uninstall'
alias bs='b search'

alias brc='brew cask'
alias brci='brc install'
alias brcu='brc uninstall'
alias brcr='brc reinstall'
alias bru='brew update && brew upgrade && brew cleanup'

alias log='/usr/bin/log'

# TODO: Don't always assume a username of nnothstine
alias reallylogout='sudo launchctl bootout gui/$(id -u $(whoami))'

# alias las="$HOME/Library/Application Support"
# alias rlas="/Library/Application Support"

# macOS has no `md5sum`, so use `md5` as a fallback
__nan_has md5sum || alias md5sum="md5"
# macOS has no `sha1sum`, so use `shasum` as a fallback
__nan_has sha1sum || alias sha1sum="shasum"
{{- end -}}