#!/usr/bin/env zsh

{{- if (and (eq .editor "nvim") .languages.python) }}
eval "$(pyenv init -)"
eval "$(pyenv virtualenv-init -)"
latest_python="$(pyenv latest)"
pyenv virtualenv $latest_python neovim3 \
    && pyenv activate neovim3 \
    && python -m pip install --upgrade pip \
    && python -m pip install pynvim \
    && pyenv deactivate
{{- end }}
